# **Exploratory and Time Series Analysis in SQL**

![Intro Image](.\Materials\IntroImage2.jpg)

An important part

**USAGE STATS**

> **<u>column</u>                                         <u>type</u>                  <u>meaning</u>**
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Date&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The date of the recorded observation in standart SQL format (YYYY-MM-DD).</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Rented_Bike_Count&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The count of bikes rented within a set hour.</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Hour&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The start day-hour of counting from 0 to 23.</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Temperature_C&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The temperature in Celcius Degrees based 0° the point of freezing water and 100° of boiling water.&nbsp;&nbsp;</span> 
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Humidity&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Percentage of amount of water vapor in the air.</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Wind_speed_m_s&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The strength of natural wind affecting the environment measured in meters per second (m/s).</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Visibility_10m&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Dew_point_temperature_C&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Solar_Radiation_MJ_m2&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Rainfall_mm&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Snowfall_cm&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Seasons&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Holiday&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>
> 
> <span style="background-color: rgba(127, 127, 127, 0.1);">Functioning_Day&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;varchar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Description of the business category</span>

In [64]:
-- DATASET OVERVIEW 
SELECT TOP 5 *
FROM UsageStats u JOIN Calendar c
    ON u.date = c.datekey

Date,Rented_Bike_Count,Hour,Temperature_C,Humidity,Wind_speed_m_s,Visibility_10m,Dew_point_temperature_C,Solar_Radiation_MJ_m2,Rainfall_mm,Snowfall_cm,Seasons,Holiday,Functioning_Day,DateKey,Date,Day,DayOfWeek,DayName,IsWeekend,DayOfWeekInMonth,CalendarDayOfYear,WeekOfMonth,CalendarWeekOfYear,CalendarMonth,MonthName,CalendarQuarter,CalendarQuarterName,CalendarYear,FirstDayOfMonth,LastDayOfMonth,FirstDayOfWeek,LastDayOfWeek,FirstDayOfQuarter,LastDayOfQuarter,CalendarFirstDayOfYear,CalendarLastDayOfYear,FirstDayOfNextMonth,CalendarFirstDayOfNextYear,FiscalDayOfYear,FiscalWeekOfYear,FiscalMonth,FiscalQuarter,FiscalQuarterName,FiscalYear,FiscalFirstDayOfYear,FiscalLastDayOfYear,FiscalFirstDayOfNextYear
2017-12-01,254,0,-5.199999809265137,37,2.200000047683716,2000,-17.600000381469727,0,0,0,Winter,No Holiday,Yes,2017-12-01,2017-12-01,1,6,Friday,0,1,335,1,48,12,December,4,Q4,2017,2017-01-12,2017-12-31,2017-11-26,2017-12-02,2017-01-10,2017-12-31,2017-01-01,2017-12-31,2018-01-01,2018-01-01,154,23,6,2,Q2,2017,2017-07-01,2018-06-30,2018-07-01
2017-12-01,204,1,-5.5,38,0.800000011920929,2000,-17.600000381469727,0,0,0,Winter,No Holiday,Yes,2017-12-01,2017-12-01,1,6,Friday,0,1,335,1,48,12,December,4,Q4,2017,2017-01-12,2017-12-31,2017-11-26,2017-12-02,2017-01-10,2017-12-31,2017-01-01,2017-12-31,2018-01-01,2018-01-01,154,23,6,2,Q2,2017,2017-07-01,2018-06-30,2018-07-01
2017-12-01,173,2,-6,39,1,2000,-17.700000762939453,0,0,0,Winter,No Holiday,Yes,2017-12-01,2017-12-01,1,6,Friday,0,1,335,1,48,12,December,4,Q4,2017,2017-01-12,2017-12-31,2017-11-26,2017-12-02,2017-01-10,2017-12-31,2017-01-01,2017-12-31,2018-01-01,2018-01-01,154,23,6,2,Q2,2017,2017-07-01,2018-06-30,2018-07-01
2017-12-01,107,3,-6.199999809265137,40,0.8999999761581421,2000,-17.600000381469727,0,0,0,Winter,No Holiday,Yes,2017-12-01,2017-12-01,1,6,Friday,0,1,335,1,48,12,December,4,Q4,2017,2017-01-12,2017-12-31,2017-11-26,2017-12-02,2017-01-10,2017-12-31,2017-01-01,2017-12-31,2018-01-01,2018-01-01,154,23,6,2,Q2,2017,2017-07-01,2018-06-30,2018-07-01
2017-12-01,78,4,-6,36,2.299999952316284,2000,-18.600000381469727,0,0,0,Winter,No Holiday,Yes,2017-12-01,2017-12-01,1,6,Friday,0,1,335,1,48,12,December,4,Q4,2017,2017-01-12,2017-12-31,2017-11-26,2017-12-02,2017-01-10,2017-12-31,2017-01-01,2017-12-31,2018-01-01,2018-01-01,154,23,6,2,Q2,2017,2017-07-01,2018-06-30,2018-07-01

In [14]:
-- DISTRIBUTION OF RENTAL ACTIVITY ACROSS WEEKDAYS
SELECT 
    DATENAME(WEEKDAY,date) AS 'Day of Week',
    AVG(Rented_Bike_Count) AS 'Average Rent Count'
FROM UsageStats
GROUP BY DATENAME(WEEKDAY,date),DATEPART(WEEKDAY,date)
ORDER BY DATEPART(WEEKDAY,date)

Day of Week,Average Rent Count
Sunday,169
Monday,213
Tuesday,241
Wednesday,222
Thursday,246
Friday,282
Saturday,222

In [69]:
-- DISTRIBUTION OF RENTAL ACTIVITY ACROSS THE DAY
SELECT 
    [Hour],
    AVG(Rented_Bike_Count) AS 'Average Rent Count'
FROM UsageStats
GROUP BY [Hour]
ORDER BY [Hour]

Hour,Average Rent Count
0,176
1,169
2,127
3,83
4,53
5,54
6,92
7,207
8,421
9,257
10,187
11,229
12,265
13,281
14,288
15,298
16,310
17,342
18,429
19,302
20,246
21,245
22,231
23,182

  

Numbers are based on an estimation inspired by the [US National Weather Service](https://www.weather.gov/pqr/wind).

In [62]:
--CATEGORISING WIND SPEED
WITH cte AS ( 
SELECT *, CASE
        WHEN Wind_speed_m_s BETWEEN 0 AND 1.699 THEN 'Calmness to Light Air'
        WHEN Wind_speed_m_s BETWEEN 1.700 AND 4.149 THEN 'Light to Gentle Breeze'
        WHEN Wind_speed_m_s BETWEEN 4.150 AND 7.000 THEN 'Moderate to Strong Breeze'
        ELSE 'Unsafer to Travel'
    END AS WindStrength
FROM UsageStats)

/* After using a common table expression to bin wind speed data into categories,
   I can then retrieve the data into a more visibly, clear way. */

SELECT DATENAME(MONTH,Date) AS Month, WindStrength, COUNT(*) AS NumberofEvents, AVG(Rented_Bike_Count) AvgRentedBikes
FROM cte GROUP BY DATENAME(MONTH,Date), WindStrength ORDER BY NumberofEvents DESC

Month,WindStrength,NumberofEvents,AvgRentedBikes
December,Calmness to Light Air,420,251
January,Calmness to Light Air,336,206
January,Light to Gentle Breeze,324,205
December,Light to Gentle Breeze,293,241
December,Moderate to Strong Breeze,31,286
January,Moderate to Strong Breeze,24,175

**COMMENT ON RESULTS:** It is important to note that the dataset doesn't contain any recorded events with wind speed over 7 m/s. Which could be explained by Seoul having its windiest month

In [68]:
SELECT
    DATENAME(year,date),
    COUNT(date)
FROM UsageStats
GROUP BY DATENAME(year,date)

(No column name),(No column name)
2018,684
2017,744