Oi teste 1

In [6]:
SELECT TOP (3) *
FROM businesses
WHERE year_founded < 1000

business,year_founded,category_code,country_code
Kongo Gumi,578,CAT6,JPN
Monnaie de Paris,864,CAT12,FRA
Sean's Bar,900,CAT4,IRL